body::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
}
a{
    cursor: pointer;
}

.container-fluid,.row {
    margin: 0;
    padding: 0;
}
.col-lg-12,.col-lg-2,.col-lg-10{
    padding: 0;
}

.sidebar {
    height: 100vh;
    background-color: #363740;
}
/* sidebar logo */
.sidebar-logo {
    padding: 40px 20px 20px 20px;
}
.sidebar-logo img {
    width: 100%;
}
/* sidebar-main */
.sidebar-card {
    background-color: none!important;
}
.sidebar-line {
    border-left: solid 5px #DDE2FF;
}
.sidebar-header {
    background-color: #9fa2b410;
    padding: .75rem 1.25rem;
    position: relative;
    border-radius: unset;
}

.sidebar-title {
    display: flex;
}
.sidebar-header .sidebar-title button {
    font-size: 13px;
    color: #DDE2FF;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 5px 0;
}
.sidebar-header .sidebar-title button a {
    color: #DDE2FF;
    text-decoration: none;
}
.sidebar-header .sidebar-title button img {
    margin-right: 20px;
}
.sidebar-down{
    position: absolute;
    right: 0;
}
.card-body {
    padding: 0;
    position: relative;
}
.sidebar-list {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
}
.sidebar-list li {
    font-size: 14px;
    color: #A4A6B3;
    list-style: none;
    padding: 15px 0px;
    cursor: pointer;
}
.sidebar-list a:hover {
    text-decoration: none;
}

/* signout */
.signout {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.signout a {
    color: #A4A6B3;
    font-size: 16px;
}
.signout a {
    font-size: 14px;
    color: #A4A6B3;
    background-color: unset;
    border-radius: unset;
    border: unset;
}
